<!DOCTYPE html>
<html>
  
  <head>
    <%- include('../partials/head.ejs') %>  
  </head>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>
  
  <body>
 
    <br>
    
    <h1>REGISTRARSE</h1>
    
    <form method="POST" action="/usuarios/register" enctype="multipart/form-data">
      <div class="formularioRegister">
        <input 
          type="text" 
          name="nombre"
          placeholder="💀 Nombre" 
          class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
          value="<%= locals.oldData ? oldData.nombre : null %>">
        <% if (locals.errors && errors.nombre) { %>
          <div class="text-danger">
            <%= errors.nombre.msg %> 
          </div>
        <% } %>
        <input 
          type="text" 
          name="apellido" 
          placeholder="☠️ Apellido"
          class="form-control <%= locals.errors && errors.apellido ? 'is-invalid' : null %>"
          value="<%= locals.oldData ? oldData.apellido : null %>">
        <% if (locals.errors && errors.apellido) { %>
          <div class="text-danger">
            <%= errors.apellido.msg %> 
          </div>
        <% } %>
        <input 
          type="text" 
          name="email" 
          placeholder="✉️ Email"
          class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
          value="<%= locals.oldData ? oldData.email : null %>">
        <% if (locals.errors && errors.email) { %>
          <div class="text-danger">
            <%= errors.email.msg %>
          </div>
        <% } %>
        <div class="campoContraseña">
          <input 
            type="password" 
            name="password" 
            placeholder="🔒 Password"
            id="contraseña"
            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
            <span>
              <i class="fas fa-eye" id="Eye"></i>
            </span>
        </div>
        <% if (locals.errors && errors.password) { %>
          <div class="text-danger">
            <%= errors.password.msg %>
          </div>
        <% } %>
        <select 
          name="country" 
          class="form-select <%= locals.errors && errors.country ? 'is-invalid' : null %>">
          <option value="">Elegí un país</option>
          <%  
            let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'];
          %>
          <% for (const oneCountry of countries) { %>
          <option 
            value="<%= oneCountry %>"
            <%= locals.oldData && (oneCountry === oldData.country) ? 'selected' : null %>> 
            <%= oneCountry %> 
          </option>
          <% } %>
        </select>
        <% if (locals.errors && errors.country) { %>
          <div class="text-danger">
            <%= errors.country.msg %>
          </div>
        <% } %>
        <input 
          type="file" 
          name="avatar"
          class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>">
        <% if (locals.errors && errors.avatar) { %>
          <div class="text-danger">
            <%= errors.avatar.msg %>
          </div>
        <% } %>
        <button type="submit" class="loginButton">Registrarse <i class="fa-solid fa-right-to-bracket"></i></button>
      </div>
    </form>
  
  </body>
  
  <script src="../javascripts/hideEye.js"></script>

  <footer>
      <%- include('../partials/footer.ejs') %>
  </footer>

</html>
