<!DOCTYPE html>
<html>
  
    <head>
        <%- include('../partials/head.ejs') %>  
    </head>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>
  
    <body>

        <h1>NUESTROS PRODUCTOS</h1>
        <div class="listadoPadre">
            <% productos.forEach(producto => { %>
                <div class="cajaProducto">
                    <a href="/productos/detalle/<%= producto.id %>">
                        <div class="cajaImagenProducto">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <img src="/images/productos/<%= producto.imagen %>">
                            <div class="textoConHover">
                                <%= producto.nombre %>
                                <br>
                                <%= producto.modelo %>
                                <br>
                                <%= producto.marca %>
                            </div>
                        </div>
                    </a>
                    <div class="precioProducto">
                        $ <%= producto.precio %>
                    </div>
                    <form action="/carrito/agregar/<%= producto.id %>" method="post">
                        <button type="submit">Agregar al carrito</button>
                    </form>
                </div>
            <% }) %>
        </div>

    </body>
  
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>

