<!DOCTYPE html>
<html>
  
    <head>
        <%- include('../partials/head.ejs') %>  
    </head>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>
  
    <body>

        <h1>NUESTROS PRODUCTOS</h1>

            <div class="listadoPadre">
                <% productos.forEach(producto => { %>
                    <div class="cajaProducto">
                        <a href="/productos/detalle/<%= producto.id %>">
                            <div class="cajaImagenProducto">
                                <img src="/images/productos/<%= producto.imagen %>">
                                <div class="textoConHover">
                                    <div style="font-family: 'Teko', sans-serif;"><%= producto.nombre %></div>
                                    <div style="font-size:16px"><%= producto.modelo %></div>
                                    <div style="font-style: italic; font-size:19px"><%= producto.marca %></div>
                                </div>
                            </div>
                        </a>
                        <div class="precioProducto">
                            $ <%= producto.precio %>
                        </div>
                        <button class="addCart">Agregar al carrito</button>
                    </div>
                <% }) %>
            </div>
        
    </body>
  
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>

